body {
    text-align: center;
    background-image: url("https://cdn.pixabay.com/photo/2016/08/01/14/55/skeleton-1561177__340.png");
    background-color: beige;
}



#hero1 {
    height: 300px;
    background-image: url("https://stmed.net/sites/default/files/wallpaper-wallpapers-25347-2123783.jpg");
    background-repeat: no-repeat;
    border-radius: 0 0 0 500px;
}

#Trivia {
    color: bisque;
    line-height: 250px;
    font-size: 100px;
}

.card {

    width: 50%;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}
#Q1, #Q2, #Q3, #Q4, #Q5, #Q6, #Q7 {
    text-decoration: none;
    color: black;

}

#Q1:hover, #Q2:hover, #Q3:hover, #Q4:hover, #Q5:hover, #Q6:hover, #Q7:hover {
    text-decoration: none;

  font-size: 20px; 
}
.card:hover{

    background-color: gray;
}



